[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
requests = "*"
musicbrainzngs = "*"
spotipy = "*"
"billboard.py" = "*"
pandas = "*"
pandas-gbq = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.2"
